<div class="homepageDiv">
    <form method="GET" action="/artist-search">
        <label for="artist"></label>
        <input name="artist" placeholder="Queen"/>
        <button class="homeButton" type="submit">Search artist</button>
    </form>
</div>
